make_blueprint_with_planner_route.json
{"flow": [{"id": 1, "mapper": {}, "module": "gateway:CustomWebHook", "version": 1, "metadata": {"restore": {"parameters": {"hook": {"data": {"editable": "true"}, "label": "My gateway-webhook webhook"}}}, "designer": {"x": 0, "y": 150}, "interface": [{"name": "document_id", "spec": {"type": "text"}, "type": "array"}, {"name": "auth", "spec": [{"name": "domain", "type": "text"}, {"name": "client_endpoint", "type": "text"}, {"name": "server_endpoint", "type": "text"}, {"name": "member_id", "type": "text"}], "type": "collection"}, {"name": "Function", "type": "text"}, {"name": "PR_ID", "type": "number"}, {"name": "PR_FECHA_APROB", "type": "date"}, {"name": "AP-PR_DiasEntrega", "type": "text"}, {"name": "AP-PR_Horas", "type": "text"}], "parameters": [{"name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true}, {"name": "maxResults", "type": "number", "label": "Maximum number of results"}]}, "parameters": {"hook": 666297, "maxResults": 1}}, {"id": 45, "mapper": null, "module": "builtin:BasicRouter", "routes": [{"flow": [{"id": 72, "filter": {"name": "CREATE_PR", "conditions": [[{"a": "{{1.Function}}", "b": "CREATE_PR", "o": "text:equal"}]]}, "mapper": {"name": "{{1.PR_Nombre}}", "shared": false, "folderId": "/1vYG4mcW2U3t7k4csqhOxjU0Jn9g_qJtP", "destination": "drive"}, "module": "google-drive:createAFolder", "version": 4, "metadata": {"expect": [{"type": "hidden"}, {"name": "destination", "type": "select", "label": "New Drive Location", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "folderId", "type": "folder", "label": "New Folder Location", "required": true}, {"name": "name", "type": "text", "label": "New Folder's Name"}, {"name": "shared", "type": "boolean", "label": "Share Folder", "required": true}], "restore": {"expect": {"folderId": {"mode": "chose", "path": ["Gestión TAG"]}, "destination": {"label": "My Drive"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google-restricted"}, "label": "TAG Drive connection (tagbitrix24@gmail.com)"}}}, "designer": {"x": 588, "y": -7}, "parameters": [{"name": "__IMTCONN__", "type": "account:google-restricted", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 5306068}}, {"id": 37, "filter": {"name": "CREATE_PR", "conditions": []}, "mapper": {"from": "drive", "name": "{{1.PR_Nombre}}", "select": "list", "values": {"681256509": {"AREA": "{{1.PR_Area}}", "OT_PEP": "{{1.`PR_OT-PEP`}}", "UNIDAD": "{{1.PR_Unidad}}", "COMPLEJO": "{{1.PR_Complejo}}", "LIDER_YPF": "{{1.PR_LiderYPF}}", "NOMBRE_PR": "{{1.PR_Nombre}}", "OTI_EMPRESA": "{{1.`PR_OTI-EMPRESA`}}", "FECHA_INI_PR": "{{formatDate(parseDate(1.`PR_FECHA-INI`; \"DD/MM/YYYY\"); \"DD/MM/YYYY\")}}", "REVISIÓN_PR": "{{1.`PR_Revisión`}}", "DENOMINACIÓN": "{{1.`PR_Denominación`}}", "LIDER_EMPRESA": "{{1.PR_LiderEmpresa}}", "NRO_DE_CAMBIO": "{{1.PR_NroDeCambio}}", "TIPO_INGENIERIA": "{{1.PR_TipoIngenieria}}", "DESCRIPCIÓN_TAREAS": "{{1.`PR_DescripciónTareas`}}"}, "1227465494": {"NOMBRE_PR": "{{1.PR_Nombre}}", "PR_FECHA_APROB": "{{formatDate(parseDate(1.PR_FECHA_APROB; \"DD/MM/YYYY\"); \"DD/MM/YYYY\")}}", "TIPO_INGENIERIA": "{{1.PR_TipoIngenieria}}"}}, "folderId": "{{72.id}}", "destination": "drive", "spreadsheetId": "/1ElJ7TG97JeI4u9PaFD9vw0qHI_HgGS5W/1wmG85AxVD1f5mRPWfmw0z69tglJ9tBLqKx5QwtUkMME"}, "module": "google-sheets:createASpreadsheetFromATemplate", "version": 2, "metadata": {"expect": [{"name": "select", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["list", "fromAll", "map"]}}, {"name": "name", "type": "text", "label": "Title", "required": true}, {"name": "destination", "type": "select", "label": "New Drive Location", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "from", "type": "select", "label": "Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "spreadsheetId", "type": "file", "label": "Template Spreadsheet ID", "required": true}, {"name": "values", "spec": [{"name": "681256509", "spec": [{"name": "NOMBRE_PR", "type": "text"}, {"name": "REVISIÓN_PR", "type": "text"}, {"name": "DENOMINACIÓN", "type": "text"}, {"name": "NRO_DE_CAMBIO", "type": "text"}, {"name": "LIDER_EMPRESA", "type": "text"}, {"name": "COMPLEJO", "type": "text"}, {"name": "LIDER_YPF", "type": "text"}, {"name": "AREA", "type": "text"}, {"name": "OT_PEP", "type": "text"}, {"name": "UNIDAD", "type": "text"}, {"name": "OTI_EMPRESA", "type": "text"}, {"name": "FECHA_INI_PR", "type": "text"}, {"name": "TIPO_INGENIERIA", "type": "text"}, {"name": "DESCRIPCIÓN_TAREAS", "type": "text"}], "type": "collection", "label": "CARÁTULA"}, {"name": "1227465494", "spec": [{"name": "NOMBRE_PR", "type": "text"}, {"name": "TIPO_INGENIERIA", "type": "text"}, {"name": "PR_FECHA_APROB", "type": "text"}], "type": "collection", "label": "APERTURA DE PR"}], "type": "collection", "label": "Values"}, {"name": "folderId", "type": "folder", "label": "New Document's Location", "required": true}, {"name": "select", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["list", "fromAll", "map"]}}, {"name": "name", "type": "text", "label": "Title", "required": true}, {"name": "destination", "type": "select", "label": "New Drive Location", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "from", "type": "select", "label": "Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "spreadsheetId", "type": "file", "label": "Template Spreadsheet ID", "required": true}, {"name": "values", "spec": [{"name": "681256509", "spec": [{"name": "NOMBRE_PR", "type": "text"}, {"name": "REVISIÓN_PR", "type": "text"}, {"name": "DENOMINACIÓN", "type": "text"}, {"name": "NRO_DE_CAMBIO", "type": "text"}, {"name": "LIDER_EMPRESA", "type": "text"}, {"name": "COMPLEJO", "type": "text"}, {"name": "LIDER_YPF", "type": "text"}, {"name": "AREA", "type": "text"}, {"name": "OT_PEP", "type": "text"}, {"name": "UNIDAD", "type": "text"}, {"name": "OTI_EMPRESA", "type": "text"}, {"name": "FECHA_INI_PR", "type": "text"}, {"name": "TIPO_INGENIERIA", "type": "text"}, {"name": "DESCRIPCIÓN_TAREAS", "type": "text"}], "type": "collection", "label": "CARÁTULA"}, {"name": "1227465494", "spec": [{"name": "NOMBRE_PR", "type": "text"}, {"name": "TIPO_INGENIERIA", "type": "text"}, {"name": "PR_FECHA_APROB", "type": "text"}], "type": "collection", "label": "APERTURA DE PR"}], "type": "collection", "label": "Values"}, {"name": "folderId", "type": "folder", "label": "New Document's Location", "required": true}], "restore": {"expect": {"from": {"label": "My Drive"}, "select": {"label": "Search by path"}, "folderId": {"mode": "edit", "path": []}, "destination": {"label": "My Drive"}, "spreadsheetId": {"path": ["Templates", "NUEVO Template PR"], "nested": [{"name": "values", "spec": [{"name": "681256509", "spec": [{"name": "NOMBRE_PR", "type": "text", "label": "NOMBRE_PR"}, {"name": "REVISIÓN_PR", "type": "text", "label": "REVISIÓN_PR"}, {"name": "DENOMINACIÓN", "type": "text", "label": "DENOMINACIÓN"}, {"name": "NRO_DE_CAMBIO", "type": "text", "label": "NRO_DE_CAMBIO"}, {"name": "LIDER_EMPRESA", "type": "text", "label": "LIDER_EMPRESA"}, {"name": "COMPLEJO", "type": "text", "label": "COMPLEJO"}, {"name": "LIDER_YPF", "type": "text", "label": "LIDER_YPF"}, {"name": "AREA", "type": "text", "label": "AREA"}, {"name": "OT_PEP", "type": "text", "label": "OT_PEP"}, {"name": "UNIDAD", "type": "text", "label": "UNIDAD"}, {"name": "OTI_EMPRESA", "type": "text", "label": "OTI_EMPRESA"}, {"name": "FECHA_INI_PR", "type": "text", "label": "FECHA_INI_PR"}, {"name": "TIPO_INGENIERIA", "type": "text", "label": "TIPO_INGENIERIA"}, {"name": "DESCRIPCIÓN_TAREAS", "type": "text", "label": "DESCRIPCIÓN_TAREAS"}], "type": "collection", "label": "CARÁTULA"}, {"name": "1227465494", "spec": [{"name": "NOMBRE_PR", "type": "text", "label": "NOMBRE_PR"}, {"name": "TIPO_INGENIERIA", "type": "text", "label": "TIPO_INGENIERIA"}, {"name": "PR_FECHA_APROB", "type": "text", "label": "PR_FECHA_APROB"}], "type": "collection", "label": "APERTURA DE PR"}], "type": "collection", "label": "Values"}]}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Nuevo TAG (nicolas.m.jones@gmail.com)"}}}, "designer": {"x": 900, "y": 0, "name": "Create PR Sheets"}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 5891337}}, {"id": 71, "mapper": {"from": "drive", "name": "{{1.PR_Nombre}} - Gantt", "select": "list", "values": {"307195204": {"PR": "{{1.PR_Nombre}}"}}, "folderId": "{{72.id}}", "destination": "drive", "spreadsheetId": "/1ElJ7TG97JeI4u9PaFD9vw0qHI_HgGS5W/15OSsROgnxc_k4nE2Ocs4PxjadfprUpjerViMSZSUbkU"}, "module": "google-sheets:createASpreadsheetFromATemplate", "version": 2, "metadata": {"expect": [{"name": "select", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["list", "fromAll", "map"]}}, {"name": "name", "type": "text", "label": "Title", "required": true}, {"name": "destination", "type": "select", "label": "New Drive Location", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "from", "type": "select", "label": "Drive", "required": true, "validate": {"enum": ["drive", "share", "team"]}}, {"name": "spreadsheetId", "type": "file", "label": "Template Spreadsheet ID", "required": true}, {"name": "values", "spec": [{"name": "307195204", "spec": [{"name": "PR", "type": "text"}], "type": "collection", "label": "Tareas"}], "type": "collection", "label": "Values"}, {"name": "folderId", "type": "folder", "label": "New Document's Location", "required": true}], "restore": {"expect": {"from": {"label": "My Drive"}, "select": {"label": "Search by path"}, "folderId": {"mode": "edit", "path": []}, "destination": {"label": "My Drive"}, "spreadsheetId": {"path": ["Templates", "TEMPLATE - PR - Gantt"], "nested": [{"name": "values", "spec": [{"name": "307195204", "spec": [{"name": "PR", "type": "text", "label": "PR"}], "type": "collection", "label": "Tareas"}], "type": "collection", "label": "Values"}]}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Nuevo TAG (tagbitrix24@gmail.com)"}}}, "designer": {"x": 1200, "y": 0, "name": "Create GANTT Sheets"}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 5891337}}, {"id": 81, "mapper": {"name": "auxContinue", "scope": "roundtrip", "value": "1"}, "module": "util:SetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}, {"name": "value", "type": "any", "label": "Variable value"}], "restore": {"expect": {"scope": {"label": "One cycle"}}}, "designer": {"x": 1500, "y": 0, "name": "auxContinue = 1"}, "interface": [{"name": "auxContinue", "type": "any", "label": "auxContinue"}]}, "parameters": {}}, {"id": 82, "mapper": {"step": "1", "start": "0", "repeats": "10"}, "module": "builtin:BasicRepeater", "version": 1, "metadata": {"expect": [{"name": "start", "type": "number", "label": "Initial value", "required": true}, {"name": "repeats", "type": "number", "label": "Repeats", "required": true, "validate": {"max": 10000, "min": 0}}, {"name": "step", "type": "number", "label": "Step", "required": true}], "restore": {}, "designer": {"x": 1800, "y": 0}}, "parameters": {}}, {"id": 83, "mapper": {"name": "auxContinue"}, "module": "util:GetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}], "restore": {}, "designer": {"x": 2100, "y": 0, "name": "GET auxContinue"}, "interface": [{"name": "auxContinue", "type": "any", "label": "auxContinue"}]}, "parameters": {}}, {"id": 29, "filter": {"name": "", "conditions": [[{"a": "{{83.auxContinue}}", "b": "0", "o": "number:greater"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://b24-tag.bitrix24.es/rest/{{var.input.userId}}/{{var.input.secret}}/crm.item.list?entityTypeId={{var.input.entityAperturaPR}}&useOriginalUfNames=Y&filter[UF_CRM_7_1744936769]={{1.PR_ID}}&filter[stageId]=DT1040_13:UC_1QKUZC&start={{82.i * 50}}", "gzip": true, "method": "get", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "serializeUrl", "type": "boolean", "label": "Serialize URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "qs", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Query String"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}, {"name": "authUser", "type": "text", "label": "User name"}, {"name": "authPass", "type": "password", "label": "Password"}, {"name": "timeout", "type": "uinteger", "label": "Timeout", "validate": {"max": 300, "min": 1}}, {"name": "shareCookies", "type": "boolean", "label": "Share cookies with other HTTP modules", "required": true}, {"name": "ca", "type": "cert", "label": "Self-signed certificate"}, {"name": "rejectUnauthorized", "type": "boolean", "label": "Reject connections that are using unverified (self-signed) certificates", "required": true}, {"name": "followRedirect", "type": "boolean", "label": "Follow redirect", "required": true}, {"name": "useQuerystring", "type": "boolean", "label": "Disable serialization of multiple same query string keys as arrays", "required": true}, {"name": "gzip", "type": "boolean", "label": "Request compressed content", "required": true}, {"name": "useMtls", "type": "boolean", "label": "Use Mutual TLS", "required": true}, {"name": "followAllRedirects", "type": "boolean", "label": "Follow all redirect", "required": true}], "restore": {"expect": {"qs": {"mode": "chose"}, "method": {"mode": "chose", "label": "GET"}, "headers": {"mode": "chose"}, "bodyType": {"label": "Empty"}}}, "designer": {"x": 2400, "y": 0, "name": "GET DocsApPR"}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}, {"id": 31, "mapper": {"array": "{{29.data.result.items}}"}, "module": "builtin:BasicFeeder", "version": 1, "metadata": {"expect": [{"mode": "edit", "name": "array", "spec": [], "type": "array", "label": "Array"}], "restore": {"expect": {"array": {"mode": "edit"}}}, "designer": {"x": 2700, "y": 0, "name": "Iterator Docs"}}, "parameters": {}}, {"id": 5, "mapper": {"mode": "map", "values": {"4": "{{31.UF_CRM_7_1745325896}}", "6": "{{31.UF_CRM_7_1747688168}}", "7": "{{switch(31.UF_CRM_7_1747688217; 69; \"LETRA\"; 71; \"NÚMERO\"; 73; \"CO\"; 75; \"PID\")}}", "8": "{{31.title}}", "9": "{{31.UF_CRM_7_1747688282}}", "10": "{{31.UF_CRM_7_1747688577}}", "18": "{{switch(31.UF_CRM_7_1747688317; 77; \"ESTANDAR\"; 79; \"HORA ESPECIAL\"; 81; \"RASTREO M2\"; 83; \"DÍA DE RASTREO\"; 85; \"TRABAJO ESPECIAL (FACTURA)\")}}", "21": "{{31.UF_CRM_7_1747688406}}"}, "sheetId": "APERTURA DE PR", "rowNumber": "{{sum(4; 82.i * 50; 31.`__IMTINDEX__`)}}", "spreadsheetId": "{{37.id}}", "tableFirstRow": "A1:Z1", "valueInputOption": "USER_ENTERED"}, "module": "google-sheets:updateRow", "version": 2, "metadata": {"expect": [{"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "spreadsheetId", "type": "text", "label": "Spreadsheet ID", "required": true}, {"name": "sheetId", "type": "text", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "tableFirstRow", "type": "select", "label": "Column range", "required": true, "validate": {"enum": ["A1:Z1", "A1:BZ1", "A1:CZ1", "A1:DZ1", "A1:MZ1", "A1:ZZ1"]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "A"}, {"name": "1", "type": "text", "label": "B"}, {"name": "2", "type": "text", "label": "C"}, {"name": "3", "type": "text", "label": "D"}, {"name": "4", "type": "text", "label": "E"}, {"name": "5", "type": "text", "label": "F"}, {"name": "6", "type": "text", "label": "G"}, {"name": "7", "type": "text", "label": "H"}, {"name": "8", "type": "text", "label": "I"}, {"name": "9", "type": "text", "label": "J"}, {"name": "10", "type": "text", "label": "K"}, {"name": "11", "type": "text", "label": "L"}, {"name": "12", "type": "text", "label": "M"}, {"name": "13", "type": "text", "label": "N"}, {"name": "14", "type": "text", "label": "O"}, {"name": "15", "type": "text", "label": "P"}, {"name": "16", "type": "text", "label": "Q"}, {"name": "17", "type": "text", "label": "R"}, {"name": "18", "type": "text", "label": "S"}, {"name": "19", "type": "text", "label": "T"}, {"name": "20", "type": "text", "label": "U"}, {"name": "21", "type": "text", "label": "V"}, {"name": "22", "type": "text", "label": "W"}, {"name": "23", "type": "text", "label": "X"}, {"name": "24", "type": "text", "label": "Y"}, {"name": "25", "type": "text", "label": "Z"}], "type": "collection", "label": "Values"}, {"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "spreadsheetId", "type": "text", "label": "Spreadsheet ID", "required": true}, {"name": "sheetId", "type": "text", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "tableFirstRow", "type": "select", "label": "Column range", "required": true, "validate": {"enum": ["A1:Z1", "A1:BZ1", "A1:CZ1", "A1:DZ1", "A1:MZ1", "A1:ZZ1"]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "A"}, {"name": "1", "type": "text", "label": "B"}, {"name": "2", "type": "text", "label": "C"}, {"name": "3", "type": "text", "label": "D"}, {"name": "4", "type": "text", "label": "E"}, {"name": "5", "type": "text", "label": "F"}, {"name": "6", "type": "text", "label": "G"}, {"name": "7", "type": "text", "label": "H"}, {"name": "8", "type": "text", "label": "I"}, {"name": "9", "type": "text", "label": "J"}, {"name": "10", "type": "text", "label": "K"}, {"name": "11", "type": "text", "label": "L"}, {"name": "12", "type": "text", "label": "M"}, {"name": "13", "type": "text", "label": "N"}, {"name": "14", "type": "text", "label": "O"}, {"name": "15", "type": "text", "label": "P"}, {"name": "16", "type": "text", "label": "Q"}, {"name": "17", "type": "text", "label": "R"}, {"name": "18", "type": "text", "label": "S"}, {"name": "19", "type": "text", "label": "T"}, {"name": "20", "type": "text", "label": "U"}, {"name": "21", "type": "text", "label": "V"}, {"name": "22", "type": "text", "label": "W"}, {"name": "23", "type": "text", "label": "X"}, {"name": "24", "type": "text", "label": "Y"}, {"name": "25", "type": "text", "label": "Z"}], "type": "collection", "label": "Values"}], "restore": {"expect": {"mode": {"label": "Enter manually"}, "values": {"nested": {"0": {"collapsed": true}, "1": {"collapsed": true}, "2": {"collapsed": true}, "3": {"collapsed": true}, "11": {"collapsed": true}, "12": {"collapsed": true}, "13": {"collapsed": true}, "14": {"collapsed": true}, "15": {"collapsed": true}, "16": {"collapsed": true}, "17": {"collapsed": true}, "19": {"collapsed": true}, "22": {"collapsed": true}, "23": {"collapsed": true}, "24": {"collapsed": true}, "25": {"collapsed": true}}}, "tableFirstRow": {"label": "A-Z", "nested": [{"name": "values", "spec": [{"name": "0", "type": "text", "label": "A"}, {"name": "1", "type": "text", "label": "B"}, {"name": "2", "type": "text", "label": "C"}, {"name": "3", "type": "text", "label": "D"}, {"name": "4", "type": "text", "label": "E"}, {"name": "5", "type": "text", "label": "F"}, {"name": "6", "type": "text", "label": "G"}, {"name": "7", "type": "text", "label": "H"}, {"name": "8", "type": "text", "label": "I"}, {"name": "9", "type": "text", "label": "J"}, {"name": "10", "type": "text", "label": "K"}, {"name": "11", "type": "text", "label": "L"}, {"name": "12", "type": "text", "label": "M"}, {"name": "13", "type": "text", "label": "N"}, {"name": "14", "type": "text", "label": "O"}, {"name": "15", "type": "text", "label": "P"}, {"name": "16", "type": "text", "label": "Q"}, {"name": "17", "type": "text", "label": "R"}, {"name": "18", "type": "text", "label": "S"}, {"name": "19", "type": "text", "label": "T"}, {"name": "20", "type": "text", "label": "U"}, {"name": "21", "type": "text", "label": "V"}, {"name": "22", "type": "text", "label": "W"}, {"name": "23", "type": "text", "label": "X"}, {"name": "24", "type": "text", "label": "Y"}, {"name": "25", "type": "text", "label": "Z"}], "type": "collection", "label": "Values"}]}, "valueInputOption": {"mode": "chose", "label": "User entered"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Nuevo TAG (tagbitrix24@gmail.com)"}}}, "designer": {"x": 3000, "y": 0, "name": "Add Docs to PR Sheets"}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 5891337}}, {"id": 70, "mapper": {"name": "var_duracion", "scope": "roundtrip", "value": "{{ceil((parseDate(31.closedate) - parseDate(31.begindate)) / 86400000)}}"}, "module": "util:SetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}, {"name": "value", "type": "any", "label": "Variable value"}], "restore": {"expect": {"scope": {"label": "One cycle"}}}, "designer": {"x": 3300, "y": 0}, "interface": [{"name": "var_duracion", "type": "any", "label": "var_duracion"}]}, "parameters": {}}, {"id": 66, "mapper": {"mode": "map", "values": {"0": "{{31.UF_CRM_7_1745325896}} - {{31.title}}", "1": "{{31.UF_CRM_7_1747688282}}h", "2": "{{70.var_duracion}}d", "5": "{{formatDate(parseDate(31.begindate; \"YYYY-MM-DDTHH:mm:ss+HH:mm\"); \"DD/MM/YYYY\")}}", "6": "{{formatDate(parseDate(31.closedate; \"YYYY-MM-DDTHH:mm:ss+HH:mm\"); \"DD/MM/YYYY\")}}"}, "sheetId": "Tareas", "rowNumber": "{{sum(2; 82.i + \"*50\"; 31.`__IMTINDEX__`)}}", "spreadsheetId": "{{71.id}}", "tableFirstRow": "A1:Z1", "valueInputOption": "RAW"}, "module": "google-sheets:updateRow", "version": 2, "metadata": {"expect": [{"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "spreadsheetId", "type": "text", "label": "Spreadsheet ID", "required": true}, {"name": "sheetId", "type": "text", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "tableFirstRow", "type": "select", "label": "Column range", "required": true, "validate": {"enum": ["A1:Z1", "A1:BZ1", "A1:CZ1", "A1:DZ1", "A1:MZ1", "A1:ZZ1"]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "A"}, {"name": "1", "type": "text", "label": "B"}, {"name": "2", "type": "text", "label": "C"}, {"name": "3", "type": "text", "label": "D"}, {"name": "4", "type": "text", "label": "E"}, {"name": "5", "type": "text", "label": "F"}, {"name": "6", "type": "text", "label": "G"}, {"name": "7", "type": "text", "label": "H"}, {"name": "8", "type": "text", "label": "I"}, {"name": "9", "type": "text", "label": "J"}, {"name": "10", "type": "text", "label": "K"}, {"name": "11", "type": "text", "label": "L"}, {"name": "12", "type": "text", "label": "M"}, {"name": "13", "type": "text", "label": "N"}, {"name": "14", "type": "text", "label": "O"}, {"name": "15", "type": "text", "label": "P"}, {"name": "16", "type": "text", "label": "Q"}, {"name": "17", "type": "text", "label": "R"}, {"name": "18", "type": "text", "label": "S"}, {"name": "19", "type": "text", "label": "T"}, {"name": "20", "type": "text", "label": "U"}, {"name": "21", "type": "text", "label": "V"}, {"name": "22", "type": "text", "label": "W"}, {"name": "23", "type": "text", "label": "X"}, {"name": "24", "type": "text", "label": "Y"}, {"name": "25", "type": "text", "label": "Z"}], "type": "collection", "label": "Values"}, {"name": "mode", "type": "select", "label": "Search Method", "required": true, "validate": {"enum": ["select", "fromAll", "map"]}}, {"name": "valueInputOption", "type": "select", "label": "Value input option", "validate": {"enum": ["USER_ENTERED", "RAW"]}}, {"name": "spreadsheetId", "type": "text", "label": "Spreadsheet ID", "required": true}, {"name": "sheetId", "type": "text", "label": "Sheet Name", "required": true}, {"name": "rowNumber", "type": "uinteger", "label": "Row number", "required": true}, {"name": "tableFirstRow", "type": "select", "label": "Column range", "required": true, "validate": {"enum": ["A1:Z1", "A1:BZ1", "A1:CZ1", "A1:DZ1", "A1:MZ1", "A1:ZZ1"]}}, {"name": "values", "spec": [{"name": "0", "type": "text", "label": "A"}, {"name": "1", "type": "text", "label": "B"}, {"name": "2", "type": "text", "label": "C"}, {"name": "3", "type": "text", "label": "D"}, {"name": "4", "type": "text", "label": "E"}, {"name": "5", "type": "text", "label": "F"}, {"name": "6", "type": "text", "label": "G"}, {"name": "7", "type": "text", "label": "H"}, {"name": "8", "type": "text", "label": "I"}, {"name": "9", "type": "text", "label": "J"}, {"name": "10", "type": "text", "label": "K"}, {"name": "11", "type": "text", "label": "L"}, {"name": "12", "type": "text", "label": "M"}, {"name": "13", "type": "text", "label": "N"}, {"name": "14", "type": "text", "label": "O"}, {"name": "15", "type": "text", "label": "P"}, {"name": "16", "type": "text", "label": "Q"}, {"name": "17", "type": "text", "label": "R"}, {"name": "18", "type": "text", "label": "S"}, {"name": "19", "type": "text", "label": "T"}, {"name": "20", "type": "text", "label": "U"}, {"name": "21", "type": "text", "label": "V"}, {"name": "22", "type": "text", "label": "W"}, {"name": "23", "type": "text", "label": "X"}, {"name": "24", "type": "text", "label": "Y"}, {"name": "25", "type": "text", "label": "Z"}], "type": "collection", "label": "Values"}], "restore": {"expect": {"mode": {"label": "Enter manually"}, "values": {"nested": {"11": {"collapsed": true}, "12": {"collapsed": true}, "13": {"collapsed": true}, "14": {"collapsed": true}, "15": {"collapsed": true}, "16": {"collapsed": true}, "17": {"collapsed": true}, "19": {"collapsed": true}, "20": {"collapsed": true}, "22": {"collapsed": true}, "23": {"collapsed": true}, "24": {"collapsed": true}, "25": {"collapsed": true}}}, "tableFirstRow": {"label": "A-Z", "nested": [{"name": "values", "spec": [{"name": "0", "type": "text", "label": "A"}, {"name": "1", "type": "text", "label": "B"}, {"name": "2", "type": "text", "label": "C"}, {"name": "3", "type": "text", "label": "D"}, {"name": "4", "type": "text", "label": "E"}, {"name": "5", "type": "text", "label": "F"}, {"name": "6", "type": "text", "label": "G"}, {"name": "7", "type": "text", "label": "H"}, {"name": "8", "type": "text", "label": "I"}, {"name": "9", "type": "text", "label": "J"}, {"name": "10", "type": "text", "label": "K"}, {"name": "11", "type": "text", "label": "L"}, {"name": "12", "type": "text", "label": "M"}, {"name": "13", "type": "text", "label": "N"}, {"name": "14", "type": "text", "label": "O"}, {"name": "15", "type": "text", "label": "P"}, {"name": "16", "type": "text", "label": "Q"}, {"name": "17", "type": "text", "label": "R"}, {"name": "18", "type": "text", "label": "S"}, {"name": "19", "type": "text", "label": "T"}, {"name": "20", "type": "text", "label": "U"}, {"name": "21", "type": "text", "label": "V"}, {"name": "22", "type": "text", "label": "W"}, {"name": "23", "type": "text", "label": "X"}, {"name": "24", "type": "text", "label": "Y"}, {"name": "25", "type": "text", "label": "Z"}], "type": "collection", "label": "Values"}]}, "valueInputOption": {"mode": "chose", "label": "Raw"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google"}, "label": "Nuevo TAG (tagbitrix24@gmail.com)"}}}, "advanced": true, "designer": {"x": 3600, "y": 0, "name": "Add Docs to auxProject"}, "parameters": [{"name": "__IMTCONN__", "type": "account:google", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 5891337}}, {"id": 85, "filter": {"name": "", "conditions": [[{"a": "{{29.data.next}}", "o": "notexist"}]]}, "mapper": {"name": "auxContinue", "scope": "roundtrip", "value": "0"}, "module": "util:SetVariable2", "version": 1, "metadata": {"expect": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}, {"name": "value", "type": "any", "label": "Variable value"}], "restore": {"expect": {"scope": {"label": "One cycle"}}}, "designer": {"x": 3900, "y": 0, "name": "SET auxContinue = 0"}, "interface": [{"name": "auxContinue", "type": "any", "label": "auxContinue"}]}, "parameters": {}}, {"id": 141, "mapper": null, "module": "builtin:BasicRouter", "routes": [{"flow": [{"id": 80, "filter": {"name": "PDFgen", "conditions": [[{"a": "{{var.input.auxPDFgen}}", "b": "true", "o": "boolean:equal"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://script.google.com/macros/s/AKfycbySi8C9YuNjwpeek0O2HVxba3oz7v3BBFCsKClOZc3arO4B5L_pvr_p_I6nnkcXzo-q/exec?sheetsDataString={{encodeURL(\"1dWYjFjlHm4CW86GPrwNnI-XOHGZRgm6LvnFvC8hhDLg,CARÁTULA,A1:H72,1,1dWYjFjlHm4CW86GPrwNnI-XOHGZRgm6LvnFvC8hhDLg,APERTURA DE PR,B4:W6,0,1-cEjo1lsrvinkudH8tij5hrayaRDLKPrD4arsD7Bu-A,Timeline,A1:A1,0\")}}&pdfFileName={{encodeURL(\"MiReporteConsolidado1.pdf\")}}&destinationFolderId={{encodeURL(\"1nBd0GbpuFnY0eJXBqOqj1g8YeGAV8TIR\")}}", "gzip": true, "method": "get", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "", "serializeUrl": false, "shareCookies": false, "parseResponse": false, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "serializeUrl", "type": "boolean", "label": "Serialize URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "qs", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Query String"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}, {"name": "authUser", "type": "text", "label": "User name"}, {"name": "authPass", "type": "password", "label": "Password"}, {"name": "timeout", "type": "uinteger", "label": "Timeout", "validate": {"max": 300, "min": 1}}, {"name": "shareCookies", "type": "boolean", "label": "Share cookies with other HTTP modules", "required": true}, {"name": "ca", "type": "cert", "label": "Self-signed certificate"}, {"name": "rejectUnauthorized", "type": "boolean", "label": "Reject connections that are using unverified (self-signed) certificates", "required": true}, {"name": "followRedirect", "type": "boolean", "label": "Follow redirect", "required": true}, {"name": "useQuerystring", "type": "boolean", "label": "Disable serialization of multiple same query string keys as arrays", "required": true}, {"name": "gzip", "type": "boolean", "label": "Request compressed content", "required": true}, {"name": "useMtls", "type": "boolean", "label": "Use Mutual TLS", "required": true}, {"name": "followAllRedirects", "type": "boolean", "label": "Follow all redirect", "required": true}], "restore": {"expect": {"qs": {"mode": "chose"}, "method": {"mode": "chose", "label": "GET"}, "headers": {"mode": "chose"}, "bodyType": {"label": "Empty"}}}, "advanced": true, "designer": {"x": 4590, "y": 5}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 140, "mapper": {"file": "{{66.spreadsheetId}}", "select": "map", "formatDrawings": "image/jpeg", "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"}, "module": "google-drive:getAFile", "version": 4, "metadata": {"expect": [{"name": "select", "type": "select", "label": "Enter a File ID", "required": true, "validate": {"enum": ["map", "value"]}}, {"name": "formatDocuments", "type": "select", "label": "Convert Google Documents Files to Format", "required": true, "validate": {"enum": ["application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/pdf", "application/vnd.oasis.opendocument.text", "text/html", "text/plain", "application/rtf", "text/markdown"]}}, {"name": "formatSpreadsheets", "type": "select", "label": "Convert Google Spreadsheets Files to Format", "required": true, "validate": {"enum": ["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/x-vnd.oasis.opendocument.spreadsheet", "application/pdf", "text/csv"]}}, {"name": "formatPresentations", "type": "select", "label": "Convert Google Slides Files to Format", "required": true, "validate": {"enum": ["application/vnd.openxmlformats-officedocument.presentationml.presentation", "application/pdf"]}}, {"name": "formatDrawings", "type": "select", "label": "Convert Google Drawings Files to Format", "required": true, "validate": {"enum": ["image/jpeg", "image/png", "image/svg+xml", "application/pdf"]}}, {"name": "file", "type": "text", "label": "File ID", "required": true}], "restore": {"expect": {"select": {"label": "Enter manually"}, "formatDrawings": {"label": "JPEG"}, "formatDocuments": {"label": "MS Word Document"}, "formatSpreadsheets": {"label": "MS Excel"}, "formatPresentations": {"label": "MS PowerPoint"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google-restricted"}, "label": "TAG Drive connection (tagbitrix24@gmail.com)"}}}, "advanced": true, "designer": {"x": 4604, "y": 268}, "parameters": [{"name": "__IMTCONN__", "type": "account:google-restricted", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 5306068}}, {"id": 138, "mapper": {"data": "{{140.data}}", "site": "tagsaaa.sharepoint.com,dcca6d2f-55c0-4e92-8527-92ba536e0496,06123ba8-ecc9-4f54-9ccc-9cd31a328623", "drive": "b!L23K3MBVkk6FJ5K6U24Elqg7EgbJ7FRPnMyc0xoyhiMxDTYYlrC_SbJNNTg8cWnw", "enter": "id", "folder": "/01LSYOLJDZUSAQOSOCNVCLIS2LRODVEDAF/01LSYOLJDWI7IR7WAYS5CKVRSWNYIVB34M", "select": "list", "filename": "{{140.name}}", "conflictBehavior": "replace"}, "module": "microsoft-sharepoint:uploadAFile", "version": 1, "metadata": {"expect": [{"name": "enter", "type": "select", "label": "Enter (Folder Location ID & Path)", "required": true, "validate": {"enum": ["id", "path"]}}, {"name": "filename", "type": "filename", "label": "File Name", "required": true}, {"name": "data", "type": "buffer", "label": "Data", "required": true}, {"name": "conflictBehavior", "type": "select", "label": "If the File with the Same Name Exists", "required": true, "validate": {"enum": ["replace", "rename", "fail"]}}, {"name": "description", "type": "text", "label": "Description"}, {"name": "select", "type": "select", "label": "Enter a Folder Location ID", "required": true, "validate": {"enum": ["map", "list"]}}, {"name": "site", "type": "select", "label": "Site ID", "required": true}, {"name": "drive", "type": "select", "label": "Drive ID", "required": true}, {"name": "folder", "type": "folder", "label": "Folder"}], "restore": {"expect": {"site": {"mode": "chose", "label": "TAG Servicios de Ingenieria"}, "drive": {"mode": "chose", "label": "Documentos (documentLibrary)"}, "enter": {"label": "Folder Location ID"}, "folder": {"mode": "chose", "path": ["Bitrix", "Gestión TAG"]}, "select": {"label": "Select from the list"}, "conflictBehavior": {"label": "Replace the existing file"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "azure"}, "label": "TAG - Outlook (Pruebas Bitrix24 <Bitrix24@tag-sa.com.ar>)"}}}, "designer": {"x": 4949, "y": 266}, "parameters": [{"name": "__IMTCONN__", "type": "account:azure", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 6703340}}]}, {"flow": [{"id": 142, "mapper": {"file": "{{5.spreadsheetId}}", "select": "map", "formatDrawings": "image/jpeg", "formatDocuments": "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "formatSpreadsheets": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "formatPresentations": "application/vnd.openxmlformats-officedocument.presentationml.presentation"}, "module": "google-drive:getAFile", "version": 4, "metadata": {"expect": [{"name": "select", "type": "select", "label": "Enter a File ID", "required": true, "validate": {"enum": ["map", "value"]}}, {"name": "formatDocuments", "type": "select", "label": "Convert Google Documents Files to Format", "required": true, "validate": {"enum": ["application/vnd.openxmlformats-officedocument.wordprocessingml.document", "application/pdf", "application/vnd.oasis.opendocument.text", "text/html", "text/plain", "application/rtf", "text/markdown"]}}, {"name": "formatSpreadsheets", "type": "select", "label": "Convert Google Spreadsheets Files to Format", "required": true, "validate": {"enum": ["application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", "application/x-vnd.oasis.opendocument.spreadsheet", "application/pdf", "text/csv"]}}, {"name": "formatPresentations", "type": "select", "label": "Convert Google Slides Files to Format", "required": true, "validate": {"enum": ["application/vnd.openxmlformats-officedocument.presentationml.presentation", "application/pdf"]}}, {"name": "formatDrawings", "type": "select", "label": "Convert Google Drawings Files to Format", "required": true, "validate": {"enum": ["image/jpeg", "image/png", "image/svg+xml", "application/pdf"]}}, {"name": "file", "type": "text", "label": "File ID", "required": true}], "restore": {"expect": {"select": {"label": "Enter manually"}, "formatDrawings": {"label": "JPEG"}, "formatDocuments": {"label": "MS Word Document"}, "formatSpreadsheets": {"label": "MS Excel"}, "formatPresentations": {"label": "MS PowerPoint"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google-restricted"}, "label": "TAG Drive connection (tagbitrix24@gmail.com)"}}}, "advanced": true, "designer": {"x": 4599, "y": 554}, "parameters": [{"name": "__IMTCONN__", "type": "account:google-restricted", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 5306068}}, {"id": 144, "mapper": {"data": "{{142.data}}", "site": "tagsaaa.sharepoint.com,dcca6d2f-55c0-4e92-8527-92ba536e0496,06123ba8-ecc9-4f54-9ccc-9cd31a328623", "drive": "b!L23K3MBVkk6FJ5K6U24Elqg7EgbJ7FRPnMyc0xoyhiMxDTYYlrC_SbJNNTg8cWnw", "enter": "id", "folder": "/01LSYOLJDZUSAQOSOCNVCLIS2LRODVEDAF/01LSYOLJDWI7IR7WAYS5CKVRSWNYIVB34M", "select": "list", "filename": "{{142.name}}", "conflictBehavior": "replace"}, "module": "microsoft-sharepoint:uploadAFile", "version": 1, "metadata": {"expect": [{"name": "enter", "type": "select", "label": "Enter (Folder Location ID & Path)", "required": true, "validate": {"enum": ["id", "path"]}}, {"name": "filename", "type": "filename", "label": "File Name", "required": true}, {"name": "data", "type": "buffer", "label": "Data", "required": true}, {"name": "conflictBehavior", "type": "select", "label": "If the File with the Same Name Exists", "required": true, "validate": {"enum": ["replace", "rename", "fail"]}}, {"name": "description", "type": "text", "label": "Description"}, {"name": "select", "type": "select", "label": "Enter a Folder Location ID", "required": true, "validate": {"enum": ["map", "list"]}}, {"name": "site", "type": "select", "label": "Site ID", "required": true}, {"name": "drive", "type": "select", "label": "Drive ID", "required": true}, {"name": "folder", "type": "folder", "label": "Folder"}], "restore": {"expect": {"site": {"mode": "chose", "label": "TAG Servicios de Ingenieria"}, "drive": {"mode": "chose", "label": "Documentos (documentLibrary)"}, "enter": {"label": "Folder Location ID"}, "folder": {"mode": "chose", "path": ["Bitrix", "Gestión TAG"]}, "select": {"label": "Select from the list"}, "conflictBehavior": {"label": "Replace the existing file"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "azure"}, "label": "TAG - Outlook (Pruebas Bitrix24 <Bitrix24@tag-sa.com.ar>)"}}}, "designer": {"x": 4976, "y": 567}, "parameters": [{"name": "__IMTCONN__", "type": "account:azure", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 6703340}}]}], "version": 1, "metadata": {"designer": {"x": 4200, "y": 0}}}]}, {"flow": [{"id": 65, "filter": {"name": "SET_DATES_AP_PR", "conditions": [[{"a": "{{1.Function}}", "b": "SET_DATES_AP_PR", "o": "text:equal"}]]}, "mapper": {"scope": "roundtrip", "variables": [{"name": "AP-PR_DiasInicio_aux", "value": "{{1.`AP-PR_Horas` / 5}}"}, {"name": "PR_FechaAprobacion", "value": "{{parseDate(1.PR_FECHA_APROB; \"DD/MM/YYYY\")}}"}]}, "module": "util:SetVariables", "version": 1, "metadata": {"expect": [{"name": "variables", "spec": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "value", "type": "any", "label": "Variable value"}], "type": "array", "label": "Variables"}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}], "restore": {"expect": {"scope": {"label": "One cycle"}, "variables": {"items": [null, null]}}}, "designer": {"x": 600, "y": 311}, "interface": [{"name": "AP-PR_DiasInicio_aux", "type": "any", "label": "AP-PR_DiasInicio_aux"}, {"name": "PR_FechaAprobacion", "type": "any", "label": "PR_FechaAprobacion"}]}, "parameters": {}}, {"id": 64, "mapper": {"scope": "roundtrip", "variables": [{"name": "AP-PR_DiasInicio", "value": "{{1.`AP-PR_DiasEntrega` - 65.`AP-PR_DiasInicio_aux`}}"}]}, "module": "util:SetVariables", "version": 1, "metadata": {"expect": [{"name": "variables", "spec": [{"name": "name", "type": "text", "label": "Variable name", "required": true}, {"name": "value", "type": "any", "label": "Variable value"}], "type": "array", "label": "Variables"}, {"name": "scope", "type": "select", "label": "Variable lifetime", "required": true, "validate": {"enum": ["roundtrip", "execution"]}}], "restore": {"expect": {"scope": {"label": "One cycle"}, "variables": {"items": [null]}}}, "designer": {"x": 900, "y": 300}, "interface": [{"name": "AP-PR_DiasInicio", "type": "any", "label": "AP-PR_DiasInicio"}]}, "parameters": {}}, {"id": 63, "filter": {"name": "SET_DATES_AP_PR", "conditions": [[{"a": "{{1.Function}}", "b": "SET_DATES_AP_PR", "o": "text:equal"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://b24-tag.bitrix24.es/rest/{{var.input.userId}}/{{var.input.secret}}/crm.item.update?entityTypeId={{var.input.entityAperturaPR}}&id={{1.PR_ID}}&useOriginalUfNames=Y&fields[begindate]={{addDays(65.PR_FechaAprobacion; 64.`AP-PR_DiasInicio`)}}&fields[closedate]={{addDays(65.PR_FechaAprobacion; 1.`AP-PR_DiasEntrega`)}}", "gzip": true, "method": "get", "headers": [], "timeout": "", "useMtls": false, "authPass": "", "authUser": "", "bodyType": "", "serializeUrl": false, "shareCookies": false, "parseResponse": false, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "serializeUrl", "type": "boolean", "label": "Serialize URL", "required": true}, {"name": "method", "type": "select", "label": "Method", "required": true, "validate": {"enum": ["get", "head", "post", "put", "patch", "delete", "options"]}}, {"name": "headers", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Headers"}, {"name": "qs", "spec": [{"name": "name", "type": "text", "label": "Name", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "array", "label": "Query String"}, {"name": "bodyType", "type": "select", "label": "Body type", "validate": {"enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]}}, {"name": "parseResponse", "type": "boolean", "label": "Parse response", "required": true}, {"name": "authUser", "type": "text", "label": "User name"}, {"name": "authPass", "type": "password", "label": "Password"}, {"name": "timeout", "type": "uinteger", "label": "Timeout", "validate": {"max": 300, "min": 1}}, {"name": "shareCookies", "type": "boolean", "label": "Share cookies with other HTTP modules", "required": true}, {"name": "ca", "type": "cert", "label": "Self-signed certificate"}, {"name": "rejectUnauthorized", "type": "boolean", "label": "Reject connections that are using unverified (self-signed) certificates", "required": true}, {"name": "followRedirect", "type": "boolean", "label": "Follow redirect", "required": true}, {"name": "useQuerystring", "type": "boolean", "label": "Disable serialization of multiple same query string keys as arrays", "required": true}, {"name": "gzip", "type": "boolean", "label": "Request compressed content", "required": true}, {"name": "useMtls", "type": "boolean", "label": "Use Mutual TLS", "required": true}, {"name": "followAllRedirects", "type": "boolean", "label": "Follow all redirect", "required": true}], "restore": {"expect": {"qs": {"mode": "chose"}, "method": {"mode": "chose", "label": "GET"}, "headers": {"mode": "chose"}, "bodyType": {"label": "Empty"}}}, "designer": {"x": 1200, "y": 300}, "parameters": [{"name": "handleErrors", "type": "boolean", "label": "Evaluate all states as errors (except for 2xx and 3xx )", "required": true}, {"name": "useNewZLibDeCompress", "type": "hidden"}]}, "parameters": {"handleErrors": true, "useNewZLibDeCompress": true}}]}, {"flow": [{"id": 200, "filter": {"name": "CREATE_PLANNER_TASKS", "conditions": [[{"a": "{{1.Function}}", "b": "CREATE_PLANNER_TASKS", "o": "text:equal"}]]}, "mapper": {"url": "{{var.input.tagServerUrl}}/v1/webhooks/run/create_planner_tasks", "method": "POST", "headers": [{"name": "Content-Type", "value": "application/json"}, {"name": "X-TAG-API-KEY", "value": "{{var.input.tagApiKey}}"}], "bodyType": "raw", "contentType": "json", "body": "{\"Function\":\"CREATE_PLANNER_TASKS\",\"PR_ID\":\"{{1.PR_ID}}\",\"PR_Nombre\":\"{{1.PR_Nombre}}\",\"PR_TipoIngenieria\":\"{{1.PR_TipoIngenieria}}\"}", "parseResponse": true, "timeout": 120}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 600, "y": 450}, "expect": [{"name": "url", "type": "url", "label": "URL", "required": true}, {"name": "method", "type": "select", "label": "Method"}, {"name": "headers", "type": "array", "label": "Headers"}, {"name": "bodyType", "type": "hidden"}, {"name": "body", "type": "buffer", "label": "Request content"}]}}]}], "version": 1, "metadata": {"designer": {"x": 300, "y": 150}}}], "name": "Calls from Bitrix24 - PR", "metadata": {"instant": true, "version": 1, "designer": {"orphans": [], "samples": {"1": {"auth": {"domain": "b24-tag.bitrix24.es", "member_id": "426403e309b3cc756d5645f7b1191f45", "client_endpoint": "https://b24-tag.bitrix24.es/rest/", "server_endpoint": "https://oauth.bitrix.info/rest/"}, "PR_ID": 53, "PR_Area": "AROMATICOS", "Function": "REQUEST_NOM", "PR_Nombre": "2025-0333", "PR_Unidad": "GENERAL", "PR_Complejo": "QLP", "PR_LiderYPF": "RAUL MALLARINO", "document_id": ["crm"], "PR_Revisión": "A", "PR_NroDeCambio": "24-002", "PR_OTI-EMPRESA": "2081-24", "PR_LiderEmpresa": "Nestor Cruz"}, "5": {"updatedRows": 1, "updatedCells": 7, "updatedRange": "'APERTURA DE PR'!A5:V5", "spreadsheetId": "1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ", "updatedColumns": 7}, "29": {"data": {"time": {"start": 1757422183.690902, "finish": 1757422183.748804, "duration": 0.05790209770202637, "operating": 0.356478214263916, "date_start": "2025-09-09T15:49:43+03:00", "processing": 0.03597307205200195, "date_finish": "2025-09-09T15:49:43+03:00", "operating_reset_at": 1757422783}, "total": 60, "result": {"items": [{"id": 2899, "title": "MEMORIA DE CALCULO - PARRALES ESTRUCTURA METALICA - LUCES HASTA 10M", "xmlId": null, "opened": "Y", "movedBy": 9, "stageId": "DT1040_13:UC_1QKUZC", "utmTerm": null, "sourceId": "CALL", "taxValue": null, "begindate": "2025-08-28T03:00:00+03:00", "closedate": "2025-09-03T03:00:00+03:00", "companyId": null, "contactId": null, "createdBy": null, "movedTime": "2025-09-09T15:33:39+03:00", "observers": [], "updatedBy": 9, "utmMedium": null, "utmSource": null, "webformId": null, "categoryId": 13, "contactIds": [], "currencyId": "ARS", "utmContent": null, "createdTime": "2025-09-09T15:19:15+03:00", "mycompanyId": 3, "opportunity": null, "updatedTime": "2025-09-09T15:33:40+03:00", "utmCampaign": null, "assignedById": 19, "entityTypeId": 1040, "lastActivityBy": null, "previousStageId": "DT1040_13:UC_A8OQIM", "taxValueAccount": null, "lastActivityTime": "2025-09-09T15:19:15+03:00", "accountCurrencyId": "ARS", "sourceDescription": null, "opportunityAccount": null, "UF_CRM_7_1744930846": null, "UF_CRM_7_1744930858": null, "UF_CRM_7_1744936769": "85", "UF_CRM_7_1745325896": "CIV-0002", "UF_CRM_7_1745851966": "T418_9", "UF_CRM_7_1745930888": ["T418_9"], "UF_CRM_7_1747326026": 1, "UF_CRM_7_1747688168": "A", "UF_CRM_7_1747688217": 69, "UF_CRM_7_1747688282": 32, "UF_CRM_7_1747688317": 77, "UF_CRM_7_1747688406": 2, "UF_CRM_7_1747688577": 1, "UF_CRM_7_1748525318": null, "UF_CRM_7_1748528841": "M", "UF_CRM_7_1748545118": "N", "UF_CRM_7_1749731719": null, "UF_CRM_7_1749731729": null, "UF_CRM_7_1749731931": "EXCEL", "UF_CRM_7_1750186793": "MC", "UF_CRM_7_1751986515": "2099-25", "UF_CRM_7_1754677805": "AROMATICOS", "UF_CRM_7_1754677825": "GENERAL", "UF_CRM_7_1754682328": "24-002", "UF_CRM_7_1756844919": null, "isManualOpportunity": "N", "lastCommunicationTime": null, "lastCommunicationCallTime": null, "lastCommunicationImolTime": null, "lastCommunicationEmailTime": null, "lastCommunicationWebformTime": null}]}}, "headers": [{"name": "x-bitrix-lb", "value": "lb-sa"}], "fileSize": 17924, "statusCode": 200, "cookieHeaders": ["qmb=0.; path=/"]}, "31": {"id": 785, "title": "Estudio de Cortocircuito", "xmlId": "", "opened": "Y", "movedBy": 9, "stageId": "DT1040_13:UC_1QKUZC", "utmTerm": null, "sourceId": "CALL", "taxValue": 0, "begindate": "2025-07-21T03:00:00+03:00", "closedate": "2025-07-26T03:00:00+03:00", "companyId": 0, "contactId": 0, "createdBy": 0, "movedTime": "2025-06-17T22:16:46+03:00", "observers": [], "updatedBy": 9, "utmMedium": null, "utmSource": null, "webformId": 0, "categoryId": 13, "contactIds": [], "currencyId": "USD", "utmContent": null, "createdTime": "2025-06-17T22:15:25+03:00", "mycompanyId": 0, "opportunity": 0, "updatedTime": "2025-06-17T22:16:48+03:00", "utmCampaign": null, "__IMTINDEX__": 1, "assignedById": 9, "entityTypeId": 1040, "__IMTLENGTH__": 4, "lastActivityBy": 0, "previousStageId": "DT1040_13:UC_A8OQIM", "taxValueAccount": 0, "lastActivityTime": "2025-06-17T22:15:25+03:00", "accountCurrencyId": "USD", "sourceDescription": "", "opportunityAccount": 0, "UF_CRM_7_1744930846": "", "UF_CRM_7_1744930858": null, "UF_CRM_7_1744936769": "53", "UF_CRM_7_1745325896": "ELE-0002", "UF_CRM_7_1745851966": "T422_3", "UF_CRM_7_1745930888": ["T422_3"], "UF_CRM_7_1747326026": 1, "UF_CRM_7_1747688168": "A", "UF_CRM_7_1747688217": 69, "UF_CRM_7_1747688282": 25, "UF_CRM_7_1747688317": 77, "UF_CRM_7_1747688406": 25, "UF_CRM_7_1747688577": 1, "UF_CRM_7_1748525318": "", "UF_CRM_7_1748528841": "", "UF_CRM_7_1748545118": "N", "UF_CRM_7_1749731719": "", "UF_CRM_7_1749731729": "", "UF_CRM_7_1749731931": "", "UF_CRM_7_1750186793": "AE", "isManualOpportunity": "N", "lastCommunicationTime": null, "lastCommunicationCallTime": null, "lastCommunicationImolTime": null, "lastCommunicationEmailTime": null, "lastCommunicationWebformTime": null}, "37": {"id": "1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ", "kind": "drive#file", "name": "2025-0333", "size": "1", "owners": [{"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKrAboYeRIiF1gjF1mVTYpv6W-5amZxKqhqoTzPsKGakhNTqbQ=s64", "displayName": "Claudio Pazzano", "emailAddress": "claudio@ritadvisors.com", "permissionId": "03021875159260831265"}], "shared": true, "spaces": ["drive"], "parents": ["1QiaLlDpLJE50REOXjz5QxmhIIMtgPo_r"], "starred": false, "trashed": false, "version": "3", "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet", "mimeType": "application/vnd.google-apps.spreadsheet", "ownedByMe": true, "viewedByMe": true, "createdTime": "2025-06-17T21:34:24.472Z", "exportLinks": {"text/csv": "https://docs.google.com/spreadsheets/export?id=1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ&exportFo...", "application/pdf": "https://docs.google.com/spreadsheets/export?id=1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ&exportFo...", "application/zip": "https://docs.google.com/spreadsheets/export?id=1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ&exportFo...", "text/tab-separated-values": "https://docs.google.com/spreadsheets/export?id=1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ&exportFo...", "application/vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ&exportFo...", "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ&exportFo...", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/spreadsheets/export?id=1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ&exportFo..."}, "permissions": [{"id": "00190375419840271031", "kind": "drive#permission", "role": "reader", "type": "user", "deleted": null, "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjV86EgYpIl1mjGbBZ9Atzv31xAZKF-k7um81YgCka82G9XjRg=s64", "displayName": "lucila", "emailAddress": "lucila@ritadvisors.com", "pendingOwner": null, "allowFileDiscovery": null}], "webViewLink": "https://docs.google.com/spreadsheets/d/1GqDJPqvEWNlr8yj2kK9G565dBFtNNH4SBgUXY0wfWnQ/edit?usp=drivesd...", "capabilities": {"canCopy": true, "canEdit": true, "canShare": true, "canTrash": true, "canDelete": true, "canRename": true, "canComment": true, "canUntrash": true, "canDownload": true, "canReadLabels": false, "canAddChildren": false, "canListChildren": false, "canModifyLabels": false, "canModifyContent": true, "canReadRevisions": true, "canRemoveChildren": false, "canAcceptOwnership": false, "canAddMyDriveParent": false, "canMoveItemOutOfDrive": true, "canMoveItemWithinDrive": true, "canRemoveMyDriveParent": true, "canMoveItemIntoTeamDrive": true, "canMoveChildrenWithinDrive": false, "canModifyContentRestriction": true, "canRemoveContentRestriction": false, "canEnableInheritedPermissions": true, "canChangeSecurityUpdateEnabled": false, "canChangeViewersCanCopyContent": true, "canDisableInheritedPermissions": false, "canModifyOwnerContentRestriction": true, "canModifyEditorContentRestriction": true, "canChangeCopyRequiresWriterPermission": true}, "hasThumbnail": false, "modifiedByMe": true, "modifiedTime": "2025-06-17T21:34:24.472Z", "permissionIds": ["anyoneWithLink"], "quotaBytesUsed": "1", "viewedByMeTime": "2025-06-16T21:56:33.531Z", "isAppAuthorized": true, "writersCanShare": true, "modifiedByMeTime": "2025-06-17T21:34:24.472Z", "thumbnailVersion": "0", "explicitlyTrashed": false, "lastModifyingUser": {"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKrAboYeRIiF1gjF1mVTYpv6W-5amZxKqhqoTzPsKGakhNTqbQ=s64", "displayName": "Claudio Pazzano", "emailAddress": "claudio@ritadvisors.com", "permissionId": "03021875159260831265"}, "linkShareMetadata": {"securityUpdateEnabled": true, "securityUpdateEligible": false}, "viewersCanCopyContent": true, "copyRequiresWriterPermission": false, "inheritedPermissionsDisabled": false}, "66": {"updatedRows": 1, "updatedCells": 5, "updatedRange": "'auxProject_2025-0069'!A2:E2", "spreadsheetId": "1KzVEEKZ2cWlp4C-6ktnX0QlY_oXkSUlf-hUtU7LgjDk", "updatedColumns": 5}, "70": {"var_duracion": 5}, "71": {"id": "1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0", "kind": "drive#file", "name": "2025-0333 - Gantt", "size": "1112", "owners": [{"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKrAboYeRIiF1gjF1mVTYpv6W-5amZxKqhqoTzPsKGakhNTqbQ=s64", "displayName": "Claudio Pazzano", "emailAddress": "claudio@ritadvisors.com", "permissionId": "03021875159260831265"}], "shared": true, "spaces": ["drive"], "parents": ["1QiaLlDpLJE50REOXjz5QxmhIIMtgPo_r"], "starred": false, "trashed": false, "version": "4", "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet", "mimeType": "application/vnd.google-apps.spreadsheet", "ownedByMe": true, "viewedByMe": true, "createdTime": "2025-06-17T21:34:30.866Z", "exportLinks": {"text/csv": "https://docs.google.com/spreadsheets/export?id=1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0&exportFo...", "application/pdf": "https://docs.google.com/spreadsheets/export?id=1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0&exportFo...", "application/zip": "https://docs.google.com/spreadsheets/export?id=1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0&exportFo...", "text/tab-separated-values": "https://docs.google.com/spreadsheets/export?id=1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0&exportFo...", "application/vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0&exportFo...", "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0&exportFo...", "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/spreadsheets/export?id=1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0&exportFo..."}, "permissions": [{"id": "00190375419840271031", "kind": "drive#permission", "role": "reader", "type": "user", "deleted": null, "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjV86EgYpIl1mjGbBZ9Atzv31xAZKF-k7um81YgCka82G9XjRg=s64", "displayName": "lucila", "emailAddress": "lucila@ritadvisors.com", "pendingOwner": null, "allowFileDiscovery": null}], "webViewLink": "https://docs.google.com/spreadsheets/d/1EnOax7qmiWejwO1iLRK_8NdTBKzM9epXAJ0VUQG4NX0/edit?usp=drivesd...", "capabilities": {"canCopy": true, "canEdit": true, "canShare": true, "canTrash": true, "canDelete": true, "canRename": true, "canComment": true, "canUntrash": true, "canDownload": true, "canReadLabels": false, "canAddChildren": false, "canListChildren": false, "canModifyLabels": false, "canModifyContent": true, "canReadRevisions": true, "canRemoveChildren": false, "canAcceptOwnership": false, "canAddMyDriveParent": false, "canMoveItemOutOfDrive": true, "canMoveItemWithinDrive": true, "canRemoveMyDriveParent": true, "canMoveItemIntoTeamDrive": true, "canMoveChildrenWithinDrive": false, "canModifyContentRestriction": true, "canRemoveContentRestriction": false, "canEnableInheritedPermissions": true, "canChangeSecurityUpdateEnabled": false, "canChangeViewersCanCopyContent": true, "canDisableInheritedPermissions": false, "canModifyOwnerContentRestriction": true, "canModifyEditorContentRestriction": true, "canChangeCopyRequiresWriterPermission": true}, "hasThumbnail": true, "modifiedByMe": true, "modifiedTime": "2025-06-17T21:34:30.866Z", "permissionIds": ["anyoneWithLink"], "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBN7yS5XreEFP7iQOOsYkarGlAC3_02AJ_bh_gwx9rTNha37...", "quotaBytesUsed": "1112", "viewedByMeTime": "2025-06-17T21:33:59.611Z", "isAppAuthorized": true, "writersCanShare": true, "modifiedByMeTime": "2025-06-17T21:34:30.866Z", "thumbnailVersion": "1", "explicitlyTrashed": false, "lastModifyingUser": {"me": true, "kind": "drive#user", "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKrAboYeRIiF1gjF1mVTYpv6W-5amZxKqhqoTzPsKGakhNTqbQ=s64", "displayName": "Claudio Pazzano", "emailAddress": "claudio@ritadvisors.com", "permissionId": "03021875159260831265"}, "linkShareMetadata": {"securityUpdateEnabled": true, "securityUpdateEligible": false}, "viewersCanCopyContent": true, "copyRequiresWriterPermission": false, "inheritedPermissionsDisabled": false}, "80": {"data": "1H5YsTKgq-XiiJZaCEnRiRzsxA3_t-EEf,17RcHHHyazN2P1uAIBGI1Adpy9vwdsBKn,1rGKXPeGU5eNODO4pf702qXPawNTZZS3...", "headers": [{"name": "transfer-encoding", "value": "chunked"}], "fileSize": 101, "statusCode": 200, "cookieHeaders": []}}}, "scenario": {"dlq": false, "slots": null, "dataloss": false, "maxErrors": 3, "autoCommit": true, "roundtrips": 1, "sequential": false, "confidential": false, "freshVariables": false, "autoCommitTriggerLast": true}}, "scheduling": {"type": "immediately"}, "interface": {"input": [{"help": "", "name": "secret", "type": "text", "label": "", "default": "e7bntd2wz924zb2q", "required": false, "multiline": false}, {"help": "", "name": "userId", "type": "number", "label": "", "default": 9, "required": false}, {"help": "", "name": "entityPresupuesto", "type": "number", "label": "", "default": 1096, "required": false}, {"help": "", "name": "entityAperturaPR", "type": "number", "label": "", "default": 1040, "required": false}, {"help": "", "name": "entityIngDetalle", "type": "text", "label": "", "default": "1100", "required": false, "multiline": false}, {"help": "", "name": "auxPDFgen", "type": "boolean", "label": "", "default": false, "required": false}, {"help": "URL base del servidor Auto-TAG (ej: http://31.97.27.4:8000)", "name": "tagServerUrl", "type": "text", "label": "Auto-TAG Server URL", "default": "http://31.97.27.4:8000", "required": false, "multiline": false}, {"help": "API Key del servidor Auto-TAG (TAG_API_KEY en .env)", "name": "tagApiKey", "type": "text", "label": "Auto-TAG API Key", "default": "", "required": false, "multiline": false}], "output": []}}
